.learning-word-section {
  padding-top: 30px;
  padding-left: 60px;
  padding-right: 60px;
}

.learning-heading {
  font-family: "Baloo Thambi 2", cursive;
  width: 100%;
  color: #a0a0a0;
}

.learning-heading h2 {
  font-size: 25px;
}

.currentWord {
  display: block;
  color: rgb(75, 75, 75);
}

.learning-word-section form {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0;
  width: 100%;
}

.learning-word-section form textarea {
  height: 80px;
  width: 100%;
  background-color: #727272;
  border-radius: 20px;
  border: none;
  text-indent: 5px;
  padding: 15px;
  font-size: 20px;
  color: white;
  font-weight: 500;
  resize: none;
}

.score_container {
  width: 100%;
}

.score_container .total_score {
  margin: 0 0 50px 0;
  font-weight: 500;
}

.score_container .correct_word_count {
  margin-bottom: 10px;
}

.learning-word-section form textarea::placeholder {
  color: #cfcfcf;
}

.learning-word-section form textarea:focus {
  outline: none;
}

.answer_feedback {
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  color: #727272;
  margin: 5px;
  text-align: center;
}

#check_icon,
#times_icon {
  margin-right: 5px;
}

#check_icon {
  color: rgba(66, 219, 52, 0.527);
}

#times_icon {
  color: rgba(219, 52, 52, 0.527);
  width: 20px;
}
@media only screen and (min-width: 576px) {
  .learning-heading h2 {
    font-size: 38px;
  }

  .currentWord {
    font-size: 26px;
  }

  .learning-word-section {
    padding-left: 100px;
    padding-right: 100px;
  }

  .learning-word-section form textarea {
    height: 120px;
  }

  .check_button {
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .learning-word-section {
    padding-left: 30vw;
    padding-right: 30vw;
  }

  .learning-word-section form textarea {
    font-size: 26px;
  }
}

.answer {
  display: flex;
  flex-flow: column nowrap;
}

#hover-reveal {
  display: none;
}

#hover-span:hover ~ #hover-reveal {
  display: block;
}
