form {
  margin-top: 20px;
  padding: 20px 10px 20px 10px;
  width: 70vw;
}

form > div {
  margin: 10px 0 10px 0;
  font-size: 17px;
  border-bottom: 1px solid rgb(192, 192, 192);
  padding: 3px 5px 3px 5px;
  height: 30px;
}

.error {
  border: none;
  height: auto;
  font-size: 14px;
  color: #b92d2b;
}

label {
  margin-left: 5px;
  width: 50%;
}

input {
  width: 35vw;
  border: none;
  font-size: 17px;
  margin-left: 10px;
}

button {
  margin: 15px 0 15px 0;
  width: 100%;
  font-size: 18px;
  border-radius: 25px;
  background-color: #45aaf2;
  border-color: #45aaf2;
  color: #ffffff;
  height: 40px;
  box-shadow: 1px 1px 2px rgb(46, 46, 46);
}

button:active {
  background: #45aaf2;
  -webkit-box-shadow: inset 0px 5px 15px #306f9c;
  -moz-box-shadow: inset 0px 5px 15px #306f9c;
  box-shadow: inset 0px 5px 15px #306f9c;
  outline: none;
}

/* Remove input and textbox outline*/
*:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

@media only screen and (min-width: 576px) {
  form {
    margin-top: 20px;
    padding: 20px 40px 20px 40px;
    width: 60vw;
  }

  input {
    width: 27vw;
  }
}

@media only screen and (min-width: 768px) {
  form {
    margin-top: 20px;
    padding: 20px 50px 20px 50px;
    width: 35vw;
  }

  input {
    width: 13vw;
  }
}
