header {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(49, 49, 49);
}

nav {
  display: flex;
  justify-content: space-evenly;
  height: 40%;
  width: 100%;
}

nav a {
  font-size: 17px;
  color: #ffffff;
  display: block;
  border-bottom: 3px solid transparent;
  width: 100%;
  text-align: center;
  padding-top: 9px;
}

nav a.active {
  border-bottom: 5px solid #45aaf2;
}

.header_session {
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header_session > span {
  font-weight: 600;
  margin-top: 8px;
  width: 100%;
}

.header_session > nav {
  display: inline-block;
  height: 100%;
}

@media only screen and (min-width: 576px) {
  nav a,
  .header_session {
    font-size: 18px;
  }
}

@media only screen and (min-width: 768px) {
}
