header {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #292a2f;
  overflow: hidden;
}

h1 {
  margin-top: 3vh;
  font-family: "Gill Sans";
  height: 60%;
}

header span {
  margin-bottom: 15px;
}

nav {

  display: flex;
  justify-content: space-evenly;
  height: 40%;
  width: 100vw;
}

nav a {
  font-size: 17px;
  color: #ffffff;
  display: block;
  border-bottom: 3px solid transparent;
  width: 100%;
  text-align: center;
  padding: 10px 0 15px 0;
}

nav a.active {
  border-bottom: 3px solid #45aaf2;
}

.header_session {
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header_session > span {
  font-weight: 600;
  margin-top: 8px;
  flex-grow: 1
}

.header_session > nav {
  display: inline-block;
  height: 100%;
  flex-grow: 1
}

@media only screen and (min-width: 576px) {
  nav a,
  .header_session {
    font-size: 18px;
  }
}

@media only screen and (min-width: 768px) {
}
