header {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #000000;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

nav a {
  font-size: 20px;
  color: #ffffff;
}

@media only screen and (min-width: 576px) {
}

@media only screen and (min-width: 768px) {
}
