@import url("https://fonts.googleapis.com/css?family=Ubuntu");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: zeitung, sans-serif;
  font-style: normal;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --font-size: calc(10px + 1vmin);
}

body,
#root,
.App {
  height: 100vh;
}

main,
section {
  height: 85vh;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
}

h1,
h1 > a {
  text-align: center;
  color: #ffffff;
}

a {
  color: #000000;
}

h2 {
  font-size: 27px;
}
